/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/image/2.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
}

/* body::after{
    background-image: url('./assets/image/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

label{
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.formBody{
    background: rgb(222 226 210 / 74%);
    border: 1px solid black;
    padding: 2.5rem 1rem;
    margin: auto;
    color: rgb(0, 0, 0);
}
